@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

.html {
  height: 100%;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #82B3D3;
  text-align: center;
  bottom: none;
  font-family: inherit;
  border-radius: 4px;
  text-decoration: none;
}
.button:hover {
  background-color: #68A2CA;
}
.button:active {
  color: #ffffff 30%;
}

.button-secondary {
  background-color: #756157;
  text-decoration: none;
  padding: 8px 18px;
}
.button-secondary:hover {
  background-color: #615048;
}
.button-secondary:active {
  color: #ffffff 30%;
}

.button-tertiary {
  background-color: #7DB54F;
  text-decoration: none;
  padding: 8px 18px;
}
.button-tertiary:hover {
  background-color: #6C9E42;
}
.button-tertiary:active {
  color: #ffffff 30%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.guides {
  padding-right: 70px;
  padding-left: 70px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
  background-color: #ffffff;
}

.page-main {
  flex-grow: 1;
  margin: 0 auto;
}

.navigation {
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.page-header-logo {
  display: block;
  margin-bottom: -6px;
  margin-right: 28px;
  position: relative;
  z-index: 0;
}

.navigation-list {
  display: flex;
  max-width: 460px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
}

.navigation-user {
  max-width: 170px;
  margin-left: auto;
  margin-right: 20px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  padding: 20px 16px;
  display: block;
  position: relative;
}

.navigation-link-search {
  background-image: url(../images/icon/icon-search.svg);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-link-favourites {
  background-image: url(../images/icon/icon-favourites.svg);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #dbdbdb;
}


.navigation-logo {
  display: block;
}

.navigation-button {
  display: flex;
  padding: 8px 34px;
  text-decoration: none;
  align-items: flex-start;
  justify-content: center;
}

.navigation-item {
  text-decoration: none;
}

.page-header {
  color: #000000;
  margin: 0 auto;
}

.welcom-section {
  background: url(../images/other-ph-main-header/white-triangles.svg) bottom/1200px no-repeat,
  url(../images/background-image/index-background.jpg) center/cover no-repeat;
  background-color: #658db5;
  padding: 51px 70px 25px;
  color: #ffffff;
  min-height: 485px;

}

.img-welcom {
  display: block;
  margin: 0 auto;
}

.advantages-header {
  width: 700px;
  padding: 69px 250px;
}

.advantages-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  width: 180px;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 30px;
}

.advantages-title-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 25px;
}

.advantages-line {
  display: block;
  width: 60px;
  border-bottom: 2px solid #ffffff;
  margin: 0 auto;
  margin-bottom: 30px;
}

.advantages-line-black {
  border-bottom: 2px solid #000000;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item-city {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.advantages-item-bridge {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.advantages-wrapper {
  background-color: #82B3D3;
}

.img-city-advantages,
.img-bridge-advantages {
  display: block;
}

.img-city-advantages {
  grid-column: 2/4;
}

.img-bridge-advantages {
  grid-column: 1/3;
}

.advantages-item {
  list-style-type: none;
}

.advantages-list-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-column: 1/-1;
}

.general-advantages {
  padding: 85px 55px;
}

.advantages-decription {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  width: 285px;
}

.wrapper-white-text {
  color: #ffffff;
}

.advantages-decription-header {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
}

.nested-item:nth-child(odd) {
  background-color: #83B3D31F;
}

.nested-item:nth-child(even) {
  background-color: #83B3D333;
}

.header-next-advantages-list {
  padding: 64px 325px;
  max-width: 550px;
}

.header-next-advantages-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.header-next-advantages-decription {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.offer-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.offer-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.offer-wrapper {
  margin: 0;
  width: 230px;
  display: inline-block;
  padding: 81px 85px
}

.offer-decription {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 230px;
  margin: 0 auto;
}

.offer-items:nth-child(odd) {
  background-color: #83B3D31F;
}

.offer-wrapper-home {
  width: 75px;
  height: 72px;
  background-image: url(../images/icon/icon-home.svg);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.offer-wrapper-food {
  width: 74px;
  height: 70px;
  background-image: url(../images/icon/icon-food.svg);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 31px;
}

.offer-wrapper-souvenir {
  width: 64px;
  height: 76px;
  background-image: url(../images/icon/icon-gift.svg);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}

.box-intersting {
  width: 592px;
  padding: 96px 304px;
}

.box-intersting-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.box-intersting-decription {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}

.button-intersting {
  display: inline-block;
  text-decoration: none;
  padding: 8px 50px;
}

.box-intersting-button {
  text-align: center;
}

.footer-subcription {
  background-image: url(../images/background-image/subscribe-background.jpg);
  background-repeat: no-repeat;
  height: 414.86px;
}

.footer-subcription-container {
  width: 684px;
  padding: 96px 258px 104px 258px;
}

.footer-subcription-container-index {
  color: #ffffff;
}

.footer-subcription-catalog {
  background-image: none;
  color: #000000;
}

.footer-subcription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer-subcription-decription {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  width: 475px;
  margin: 0 auto;
  margin-bottom: 54px;
  display: block;
}

.appointment-form {
  display: flex;
}

.button-subcribe {
  padding: 6.5px 50px 9px 50px;
  border: none;
  border-radius: 0 4px 4px 0;
  display: block;
}

.input-field {
  width: 452px;
  height: 33px;
  border-radius: 4px 0 0 4px;
  border: none;
  margin: 0;
  background-color: #f2f2f2;
  display: block;
}

.input-field::placeholder {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
}

.footer-contacts {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 170px 720px 130px ;
  padding-top: 40px;
  padding-bottom: 30px;
  column-gap: 20px;
}

.phone-link {
  color: #000000;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.phone-link:hover {
  color: #756157;
}

.phone-link:active {
  color: #756157 30%;
}

.img-logo-html {
  display: block;
  margin: 0;
  margin-left: auto;
}

.telephone {
  grid-column: 2/3;
  justify-self: center;
}

.logo-html {
  grid-column: 3/4;
}

.social-link-vk::before {
  mask-image: url(../images/icon/icon-vk.svg);
  -webkit-mask-image: url(../images/icon/icon-vk.svg);
  width: 24px;
  height: 14px;
}

.social-link-tg::before {
  mask-image: url(../images/icon/icon-tg.svg);
  -webkit-mask-image: url(../images/icon/icon-tg.svg);
  width: 18px;
  height: 15.1px;
}

.social-link-youtube::before {
  mask-image: url(../images/icon/icon-youtube.svg);
  -webkit-mask-image: url(../images/icon/icon-youtube.svg);
  width: 22px;
  height: 17px;
}

.social-media {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  display: 4px;
  grid-column: 1/2;
  }

.social-link {
  display: block;
  width: 47px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link::before {
  content:'';
  display: block;
  width: 24px;
  height: 16px;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  mask-size: contain;
  -webkit-mask-size: contain;
  background-color: #83B3D3;
  transition: background;
}

.social-link:hover::before {
  background-color: #68A2CA;
}

.catalog-link {
  text-decoration: none;
}

.bread-crumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 40px;
}

.bread-crumbs-home {
  background-image: url(../images/icon/icon-home-crumbs.svg);
  background-repeat: no-repeat;
  width: 13px;
  height: 12px;
  margin: 5px;
}

.bread-crumbs-arrow {
  background-image: url(../images/icon/arrow-white.svg);
  background-repeat: no-repeat;
  width: 7px;
  height: 10px;
  margin: 6px 6px 0 0;
  background-position: center;
}

.bread-crumbs-hotel {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  display: block;
}

.main-header {
  background-image: url(../images/background-image/filter-background.jpg);
  margin-bottom: 50px;
  padding: 35px 70px 70px 70px;
}

.main-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.catalog-filter {
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.catalog-fiter-container {
  display: flex;
}

.catalog-filter-button {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-filter-infrastructure {
  padding: 0;
}

.catalog-filter-housing {
  padding: 0;
  margin: 0;
}

.catalog-filter-group {
  border: none;
  margin-right: 70px;
}

.catalog-filter-accept {
  margin-bottom: 32px;
  padding: 8px 50px;
  border: 0;
}

.catalog-filter-reset {
  outline: none;
  border: 0;
  background-color: transparent;
  padding: 8px 50px;
}

.catalog-filter-reset:hover {
  background-color: transparent;
  color: #ffffff 30%;
}

.catalog-filter-reset:active {
  border: 3px solid #83B3D3;
}

.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.control-input {
  padding: 0;
  margin: 0 15px 0 0;
}

.control-input-text {
  margin: 0;
  padding: 0;
  margin-left: 10px;
  display: inline-block;
}

.type-of-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.catalog-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.catalog-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-item {
  display: inline-block;
  margin: 0;
  margin-right: 10px;
  height: 40px;
}

.catalog-item:last-child {
  margin-right: 0;
}

.catalog-link {
  border: 2px solid #e5e5e5;
  text-decoration: none;
  padding: 12px 16px;
  display: inline-block;
}

.catalog-link:not(:last-child) {
  margin-right: 8px;
}

.catalog-link:hover {
  border:2px solid #000000;
}

.catalog-link:focus {
  border:2px solid #68A2CA;
}

.catalog-link:active {
  border: 2px solid #000000;
}

.sorting-cards {
  width: 292px;
  padding: 14px 20px;
  border: 2px solid #e5e5e5;
  margin: 0;
  appearance: none;
  background-image: url(../images/icon/arrow.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  padding-right: 30px;
}

.sorting-cards:hover {
 border: 2px solid #68A2CA;
}

.hotels-cards-list {
  color: #333333;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #e6e6e6;
}

.hotels-card {
  width: 300px;
  display: grid;
  padding: 19px;grid-template-columns: repeat(2, 140px);
  grid-template-rows: 212px 1fr;
  gap: 16px 20px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
}

.button-cards {
  padding: 8px 18px;
}

.card-hotel-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;

}

.card-hotel-link-title {
  grid-column: 1/-1;
  grid-row: 2/3;
  text-decoration: none;
}

.hotel-img, .link-img-hotel, .card-hotel-title {
  display: block;
}

.hotel-img {
  grid-column: 1/3;
  grid-row: 1/2;
}

.link-img-hotel {
  grid-column: 1/3;
  grid-row: 1/2;

}

.product-card-hotel,
.product-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.product-card-hotel {
  grid-column: 1/2;
  grid-row: 3/4;
}
.product-card-price {
  grid-column: 2/3;
  grid-row: 3/4;
  text-align: end;
}

.card-hotel-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
  padding: 9px 22px;
  border-radius: 4px;
  text-align: center;
}

.star {
  height: 17px;
  width: 105px;

}

.star::before {
  content: '';
  display: block;
  height: 17px;
  background-image: url(../images/icon/icon-star.svg);
  background-repeat: space no-repeat;
  background-size: contain;
  background-position: center;
}

.star-4::before {
  width: 87px;
}

.star-3::before {
  width: 64px;
}

.star-2::before {
  width: 40px;
}

.pagination {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination-link {
  text-decoration: none;
  display: block;
  color: #ffffff;
  background-color: #82B3D3;
  padding: 12px 20px 12px 20px;
  border-radius: 4px;
  margin-right: 8px;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:active {
  color: #ffffff 30%;
}

.phone-list {
  margin-right: 0;
}

.pagination-link-two-digit {
  padding: 11px 14px 13px 14px;
}

.pagination-link-one {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-link-one:hover {
  background-color: #f2f2f2;
}

.pagination-link-one:active {
  color: #000000 30%;
}

.pagination-link-other {
  background-color: transparent;
  color: #000000;
}

.pagination-link-other:hover {
  background-color: transparent;
}

.footer-subcription-title {
  font-weight: 700px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.footer-subcription-title-catalog {
  color: #000000;
}

.footer-subcription-decription {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.footer-subcription-decription-catalog {
  color: #000000;
}
