@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 21px;
    color: #333333;
    background-color: #f2f2f2;
}

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #82B3D3;
    text-align: center;
    bottom: none;
    font-family: inherit;
    border-radius: 4px;
}

.button-secondary {
    background-color: #756157;
}

.button-tertiary {
    background-color: #7DB54F;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
    background-color: #ffffff;
}

.page-main {
    width: 1060px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    width: 1060px;
    margin: 0 auto;
}

.page-header-logo {
    width: 140px;
    margin-right: 28px;
}

.navigation-list {
    display: flex;
    width: 400px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation-user {
    width: 300px;
    margin-left: auto;
}

.navigation-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
    padding: 20px 16px;
    display: block;
}

.navigation-logo {
    position: relative;
}

.navigation-button {
    display: flex;
    padding: 8px 34px;
    height: 36px;
    margin: auto 0;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.navigation-item {
    text-decoration: none;
}

.navigation-link-img-search {
    background-image: url(../images/icon/icon-search.svg);
    width: 20px;
    height: 20px;
}

.navigation-link-img-favourites {
    background-image: url(../images/icon/icon-favourites.svg);
    width: 20px;
    height: 20px;
}

.page-header {
    color: #000000;
    width: 1060px;
    margin: 0 auto;
}

.welcom-section {
    background-image: url(../images/background-image/index-background.jpg);
    background-repeat: no-repeat;
}

.img-welcom {
    display: block;
    margin: 0 auto;
    padding: 51px 371px 82px 371px;
}

.advantages-header {
    width: 651px;
    padding: 69px 274.5px;
}

.advantages-item {
    display: flex;
    flex-wrap: wrap;
}

.advantages-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    width: 180px;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 62px;
}

.advantages-title-header {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 25px;
}

.advantages-list {
    margin: 0;
    padding: 0;
}

.advantages-wrapper {
    background-color: #82B3D3;
    display: inline-block;
}

.img-city-advantages,
.img-bridge-advantages {
    display: block;
}

.advantages-list-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

.general-advantages {
    width: 400px;
    padding-top: 85px;
    padding-bottom: 85px;
}

.advantages-decription {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    margin: 0 auto;
    width: 285px;
}

.advantages-decription-header {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    margin: 0 auto;
}

.nested-item:nth-child(odd) {
    background-color: #83B3D31F;
}

.nested-item:nth-child(even) {
    background-color: #83B3D333;
}

.header-next-advantages-list {
    padding: 64px 0;
    width: 505px;
    margin: 0 auto;
}

.header-next-advantages-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.header-next-advantages-decription {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.offer-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}

.offer-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

.offer-wrapper {
    margin: 0;
    width: 230px;
    display: inline-block;
    padding: 81px 85px
}

.offer-decription {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    width: 230px;
    margin: 0 auto;
}

.offer-items:nth-child(odd) {
    background-color: #83B3D31F;
}

.offer-wrapper-home {
    width: 75px;
    height: 72px;
    background-image: url(../images/icon/icon-home.svg);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.offer-wrapper-food {
    width: 74px;
    height: 70px;
    background-image: url(../images/icon/icon-food.svg);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 31px;
}

.offer-wrapper-souvenir {
    width: 64px;
    height: 76px;
    background-image: url(../images/icon/icon-gift.svg);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;
}

.box-intersting {
    width: 592px;
    padding: 96px 304px;
}

.box-intersting-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.box-intersting-decription {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    margin: 0;
    margin-bottom: 54px;
}

.button-intersting {
    display: block;
    margin: 0 auto;
    width: 376px;
    text-decoration: none;
    padding: 8px 50px;
}

.footer-subcription {
    background-image: url(../images/background-image/subscribe-background.jpg);
    background-repeat: no-repeat;
    width: 1200px;
    height: 414.86px;
}

.footer-subcription-container {
    width: 684px;
    padding: 96px 258px 104px 258px;
}

.footer-subcription-container-index {
    color: #ffffff;
}

.footer-subcription-catalog {
    background-image: none;
    color: #000000;
}

.footer-subcription-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

.footer-subcription-decription {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    width: 475px;
    margin: 0 auto;
    margin-bottom: 54px;
    display: block;
}

.button-subcribe {
    padding: 6.5px 50px 9px 50px;
    border: none;
    border-radius: 0 4px 4px 0;
    margin: 0;
    margin-left: -5px;
    margin-top: 2px;
}

.input-field {
    width: 452px;
    height: 33px;
    border-radius: 4px 0 0 4px;
    border: none;
    margin: 0;
    background-color: #f2f2f2;
}

.input-field::placeholder {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
}

.footer-contacts {
    width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 40px 70px 30px 70px;
}

.phone-link {
    color: #000000;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
}

.social-link-img-vk {
    background-image: url(../images/icon/icon-vk.svg);
    width: 24px;
    height: 14px;
    background-repeat: no-repeat;
    padding: 13px;
}

.social-link-img-tg {
    background-image: url(../images/icon/icon-tg.svg);
    width: 18px;
    height: 15.1px;
    background-repeat: no-repeat;
    padding: 13px;
}

.social-link-img-youtube {
    background-image: url(../images/icon/icon-youtube.svg);
    width: 22px;
    height: 17px;
    background-repeat: no-repeat;
    padding: 13px;
}

.social-media {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.social-link {
    margin: 0;
    padding: 0;
}

.catalog-link {
    text-decoration: none;
}

.bread-crumbs {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 40px;
}

.bread-crumbs-home {
    background-image: url(../images/icon/icon-home-crumbs.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin: 6px;
}

.bread-crumbs-hotel {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    text-decoration: none;
}

.main-header {
    background-image: url(../images/background-image/filter-background.jpg);
}

.main-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.catalog-filter {
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.catalog-fiter-container {
    display: flex;
}

.catalog-filter-button {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 32px;
}

.catalog-filter-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.catalog-filter-infrastructure {
    padding: 0;
    margin-right: 70px;
}

.catalog-filter-housing {
    padding: 0;
    margin: 0;
}

.catalog-filter-group {
    border: none;
}

.catalog-filter-accept {
    margin-bottom: 32px;
    padding: 8px 50px;
    border: 0;
}

.catalog-filter-reset {
    outline: none;
    border: 0;
    background-color: transparent;
    padding: 8px 50px;
}

.control {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

.control-input {
    margin-bottom: 16px;
    padding: 0;
}

.control-input-text {
    margin: 0;
    padding: 0;
    margin-left: 10px;
    display: inline-block;
}

.catalog-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    display: inline-block;
    margin-right: 200px;
}

.catalog-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

.catalog-item {
    display: inline;
    margin-right: 10px;
}

.catalog-item:last-child {
    margin-right: 0;
}

.catalog-link {
    padding: 8px 10px 8px 16px;
    border-radius: 4px;
    border: 2px solid #000000;
}

.catalog-link-list {
    padding-right: 14px;
}

.sorting-cards {
    margin-right: 90px;
    width: 292px;
    padding: 14px 20px;
    border: 2px solid #e5e5e5;
}

.card-hotel-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.product-card-hotel,
.product-card-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.card-hotel-rating {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    background-color: #f2f2f2;
}

.star {
    background-image: url(../images/icon/icon-star.svg);
    height: 17px;
}

.star-4 {
    width: 73px;
}

.star-3 {
    width: 55px;
}

.star-2 {
    width: 37px;
}

.pagination {
    list-style-type: none;
    display: flex;
}

.pagination-link {
    text-decoration: none;
    color: #000000;
    background-color: #82B3D3;
    padding: 12px 24px;
    margin-right: 8px;
}

.phone-list {
    margin-right: 0;
}

.pagination-link:last-child {
    padding: 12px 18.5px 12px 18.5px;
    border-radius: 4px;
}

.pagination-link-one {
    background-color: #f2f2f2;
}

.paginatin-link-other {
    background-color: #ffffff;
}

.footer-subcription-title {
    font-weight: 700px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.footer-subcription-title-catalog {
    color: #000000;
}

.footer-subcription-decription {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.footer-subcription-decription-catalog {
    color: #000000;
}
