@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

.html {
  height: 100%;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #82B3D3;
  text-align: center;
  bottom: none;
  font-family: inherit;
  border-radius: 4px;
  text-decoration: none;
}
.button:hover {
  background-color: #68A2CA;
}
.button:active {
  color: rgba(255, 255, 255, 0.30)
}

.button-secondary {
  background-color: #756157;
  text-decoration: none;
  padding: 8px 18px;
}
.button-secondary:hover {
  background-color: #615048;
}
.button-secondary:active {
  color: rgba(255, 255, 255, 0.30)
}

.button-tertiary {
  background-color: #7DB54F;
  text-decoration: none;
  padding: 8px 18px;
}
.button-tertiary:hover {
  background-color: #6C9E42;
}
.button-tertiary:active {
  color: rgba(255, 255, 255, 0.30)
}

.button:disabled,
.button-secondary:disabled,
.button-tertiary:disabled {
  color: #ffffff;
  background-color: #f5f5f5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.guides {
  padding-right: 70px;
  padding-left: 70px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
  background-color: #ffffff;
}

.page-main {
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin: 0 auto;
  margin-bottom: 94px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.page-header-logo {
  display: block;
  margin-bottom: -6px;
  margin-right: 28px;
  position: relative;
  z-index: 0;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 470px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.navigation-user {
  max-width: 170px;
  margin-left: auto;
  margin-right: 20px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  padding: 19px 16px;
  display: block;
  position: relative;
}

.navigation-link:hover {
  color: rgba(0, 0, 0, 0.40);
}

.link-undurlining::after {
  content: '';
  height: 2px;
  background-color: #756157;
  position: absolute;
  left: 14px;
  right: 14px;
  bottom: -1px;
}

.navigation-link-search {
  background-image: url(../images/icon/icon-search.svg);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 21px 12px;
}

.navigation-link-search::before {
  content:'';
  display: block;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  mask-size: contain;
  -webkit-mask-size: contain;
  background-color: rgba(0, 0, 0, 0.30);
  -webkit-transition: background 250ms ease-in-out;
  -moz-transition: background 250ms ease-in-out;
  -o-transition: background 250ms ease-in-out;
  transition: background 250ms ease-in-out;
}


.navigation-link-search:hover {
  mask-image: url(../images/icon/icon-search.svg);
  -webkit-mask-image: url(../images/icon/icon-search.svg);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 21px 12px;
}

.navigation-link-favourites {
  background-image: url(../images/icon/favourites.svg);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px 12px;
}

.account-favourites {
  position: absolute;
  top: 9px;
  left: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 12px;
  min-height: 12px;
  padding: 4px;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #ffffff;
  background-color: #7DB54F;
  border-radius: 50%;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #dbdbdb;
}


.navigation-logo {
  display: block;
}

.navigation-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 34px;
  text-decoration: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 14px 0;
  max-width: 140px;
  white-space: nowrap;
  overflow: hidden;
}

.navigation-item {
  text-decoration: none;
}

.page-header {
  color: #000000;
  margin: 0 auto;
}

.welcom-section {
  background-image: url(../images/other-ph-main-header/white-triangles.svg),
  url(../images/background-image/index-background.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  width: 1200px;
  background-color: #658db5;
  padding: 51px 70px 82px;
  color: #ffffff;
  margin-bottom: 70px;
  box-sizing: border-box;
  background-size: contain, cover;
}

.img-welcom {
  display: block;
  margin: 0 auto;
}

.advantages {
  margin-bottom: 63px;
}

.advantages-header {
  display: block;
  margin: 0 auto;
  margin-bottom: 89px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  width: 180px;
  margin: 0 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: uppercase;
}

.advantages-title::after {
  content: '';
  width: 60px;
  border-bottom: 2px solid #ffffff;
  margin: 30px auto;
  display: block;
}

.advantages-list-list .advantages-title::after {
  border-bottom: 2px solid #000000;
  opacity: 0.30;
}

.advantages-title-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 25px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item-city {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.advantages-item-bridge {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #82B3D3;
}

.advantages-wrapper {
  background-color: #82B3D3;
  padding: 102px 86px;
}

.img-city-advantages,
.img-bridge-advantages {
  display: block;
}

.img-city-advantages {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}

.img-bridge-advantages {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.advantages-item {
  list-style-type: none;
}

.advantages-list-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-column: 1/-1;
}

.general-advantages {
  padding: 113px 83px;
}

.advantages-decription {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0 auto;
}

.wrapper-white-text {
  color: #ffffff;
}

.advantages-decription-header {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
}

.nested-item:nth-child(odd) {
  background-color: #83B3D31F;
}

.nested-item:nth-child(even) {
  background-color: #83B3D333;
}

.header-next-advantages-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.header-next-advantages-list {
  margin-bottom: 64px;
}

.header-next-advantages-decription {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

.offer-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.offer-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.offer-decription {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 230px;
  margin: 0 auto;
}

.offer-items {
  padding: 81px 85px;
}

.offer-items::before {
  content: '';
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
}

.offer-items:nth-child(odd) {
  background-color: #83B3D31F;
}

.offer-items-home::before {
  width: 75px;
  height: 72px;
  background-image: url(../images/icon/icon-home.svg);
  margin-bottom: 32px;
}

.offer-items-food::before {
  width: 74px;
  height: 70px;
  background-image: url(../images/icon/icon-food.svg);
  margin-bottom: 33px;
}

.offer-items-souvenir::before {
  width: 64px;
  height: 76px;
  background-image: url(../images/icon/icon-gift.svg);
  margin-bottom: 28px;
}

.box-intersting {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 94px;
}

.box-intersting-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.box-intersting-decription {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
}

.button-intersting {
  display: inline-block;
  text-decoration: none;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
}

.footer-subcription {
  background-image: url(../images/background-image/subscribe-background.jpg);
  background-repeat: no-repeat;
  background-color: #658db5;
}

.footer-subcription-container {
  display: block;
  margin: 0 auto;
}

.footer-subcription-container-index {
  color: #ffffff;
  padding-top: 95px;
  padding-bottom: 102px;
}

.footer-subcription-catalog {
  background-image: none;
  color: #000000;
  background-color: white;
}

.footer-subcription-container-catalog {
  padding-top: 60px;
}

.footer-subcription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  margin-bottom: 21px;
  margin-top: 3px;
  text-transform: uppercase;
}

.footer-subcription-decription {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto;
  margin-bottom: 54px;
  display: block;
}

.appointment-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.button-subcribe {
  padding: 8px 50px;
  border: none;
  border-radius: 0 4px 4px 0;
  display: block;
  font-size: 20px;
  line-height: 36px;
  max-width: 300px;
}

.input-field {
  width: 453px;
  border-radius: 4px 0 0 4px;
  border: none;
  margin: 0;
  background-color: #f2f2f2;
  display: block;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
}

.input-field::-webkit-input-placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 20px;
}

.input-field::-moz-placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 20px;
}

.input-field:-ms-input-placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 20px;
}

.input-field::-ms-input-placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 20px;
}

.input-field::placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 20px;
}

.footer-contacts {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 279px 20px 1fr 20px 250px;
  grid-template-columns: 279px 1fr 250px ;
  padding-top: 46px;
  padding-bottom: 36px;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
}

.phone-link {
  color: #000000;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  display: block;
}

.phone-link:hover {
  color: #756157;
}

.phone-link:active {
  color: rgba(117, 97, 87, 0.30)
}

.img-logo-html {
  display: block;
}

.telephone {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  text-align:center;
}

.academy-link {
  display: block;
  margin: 4px 0 5px 10px;
}

.academy-link:hover {
  fill: #756157;
}

.academy-link:active {
  fill: rgba(177, 97, 87, 0.30);
}

.logo-html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.social-link-vk::before {
  mask-image: url(../images/icon/icon-vk.svg);
  -webkit-mask-image: url(../images/icon/icon-vk.svg);
  width: 24px;
  height: 14px;
}

.social-link-tg::before {
  mask-image: url(../images/icon/icon-tg.svg);
  -webkit-mask-image: url(../images/icon/icon-tg.svg);
  width: 18px;
  height: 15.1px;
}

.social-link-youtube::before {
  mask-image: url(../images/icon/icon-youtube.svg);
  -webkit-mask-image: url(../images/icon/icon-youtube.svg);
  width: 22px;
  height: 17px;
}

.social-media {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.social-link {
  width: 47px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social-link::before {
  content:'';
  display: block;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  mask-size: contain;
  -webkit-mask-size: contain;
  background-color: #83B3D3;
  -webkit-transition: background 250ms ease-in-out;
  -moz-transition: background 250ms ease-in-out;
  -o-transition: background 250ms ease-in-out;
  transition: background 250ms ease-in-out;
}

.social-link:hover::before {
  background-color: #68A2CA;
}

.social-link:active::before {
  background-color: rgba(104, 162, 202, 0.30);
}

.bread-crumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 41px;
}

.bread-crumbs-home {
  width: 20px;
  height: 21px;
}

.bread-crumbs-link-home {
  width: 20px;
  height: 21px;
}


.bread-crumbs-link-home::before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background-image: url(../images/icon/icon-home-crumbs.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 4px;
}

.bread-crumbs-arrow {
  background-image: url(../images/icon/arrow-white.svg);
  background-repeat: no-repeat;
  width: 7px;
  height: 10px;
  margin: 6px 12px 0 3px;
  background-position: center;
}

.bread-crumbs-link-hotel {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  display: block;
}

.bread-crumbs-link-hotel:active,
.bread-crumbs-link-hotel:hover {
  color: rgba(255, 255, 255, 0.30)
}

.main-header {
  background-image: url(../images/background-image/filter-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 50px;
  padding: 35px 70px 70px 70px;
  background-color: #5f6670;
  background-size: cover;
}

.main-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  margin-bottom: 7px;
}

.catalog-filter {
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.catalog-filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.catalog-filter-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: auto;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-filter-infrastructure {
  padding: 0;
  margin: 0;
  margin-right: 65px;
  max-width: 215px;
}

.catalog-filter-housing {
  padding: 0;
  margin: 0;
  margin-right: 150px;
  max-width: 215px;
}

.catalog-filter-value {
  margin: 0;
  padding: 0;
  margin-right: 70px;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  max-width: 330px;

}

.catalog-filter-accept {
  margin-bottom: 32px;
  padding: 8px 50px;
  border: 0;
}

.catalog-filter-reset {
  border: 0;
  background-color: transparent;
  padding: 8px 50px;
}

.catalog-filter-reset:hover {
  background-color: transparent;
  color: #ffffff;
  opacity: 0.3;
}

.catalog-filter-reset:active {
  outline: 3px solid #83B3D3;
}

.catalog-filter-reset:focus {
  outline: 3px solid #83B3D3;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 8px;
  background-color: rgba(255, 255, 255, 0.30);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
  width: 210px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
}

.range-toggle:hover {
  background-color:  #68A2CA;
}

.range-toggle:active {
  background-color:  #3F5E72;
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -19px;
}

.range-wrapper-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 44px;
  width: 290px;
  position: relative;
}

.range-input {
  width: 82px;
  padding: 12px 21px;
  padding-right: 41px;
  font: inherit;
  text-align: start;
  background-color: #f2f2f2;
  border: none;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.range-input:first-of-type {
  border-radius: 4px 0 0 4px;
  margin-right: 2px;
}

.range-input:last-of-type {
  border-radius: 0 4px 4px 0;
}

.range-input:focus {
  outline: 3px solid #83b3d3;
}

.range-input-word {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  color: #000000;
  opacity: 0.30;
  position: absolute;
}

.word-from {
  left: 108px;
  top: 13px;
}

.word-to {
  left: 250px;
  top: 13px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.control {
  position: relative;
  display: block;
  padding-left: 37px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 1px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control-mark:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-mark:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-mark:focus {
  border: 3px solid #83B3D3;
}

.control-mark-radio {
  border-radius: 50%;
}

.control:hover .control-mark {
  border-color: #814b18;
}

.control-input:disabled + .control-mark {
  border-color: #242424;
}

.control-input {
  padding: 0;
  margin: 0 15px 0 0;
  outline: auto;
}

.control-input-text {
  line-height: 23px;
  font-weight: 400;
  font-size: 18px;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 4px;
  left: 3px;
  width: 20px;
  height: 20px;
  content: "";
  background-image: url(../images/icon/check_mark.svg);
  background-repeat: no-repeat;
}

.control-input:focus + .control-mark {
  outline: 2px solid #68A2CA;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 6px;
  width: 9px;
  height: 9px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.type-of-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px;
}

.catalog-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  display: block;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  margin-right: 201px;
  max-width: 338px;
}

.catalog-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-item {
  display: inline-block;
  margin: 0;
  margin-right: 2px;
}

.catalog-item:last-child {
  margin-right: 0;
}

.catalog-link {
  outline: 2px solid #e5e5e5;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  width: 16px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-link-grid {
  background-image: url(../images/icon/icon-grid.svg);
  padding: 14px 16px 17px;
}

.catalog-link-ribbon {
  background-image: url(../images/icon/icon-slider.svg);
  padding: 15px 16px;
}

.catalog-link-list {
  background-image: url(../images/icon/icon-list.svg);
  padding: 15px 16px;
}

.catalog-link-border {
  outline: 2px solid #000000;
}

.catalog-link:not(:last-child) {
  margin-right: 8px;
}

.catalog-link:hover {
  outline:2px solid #000000;
}

.catalog-link:focus {
  outline:2px solid #68A2CA;
}

.catalog-link:active {
  outline: 2px solid #000000;
}

.sorting-cards {
  width: 292px;
  padding: 12px 18px;
  border: 2px solid #e5e5e5;
  margin: 0;
  margin-right: 68px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../images/icon/arrow.svg);
  background-repeat: no-repeat;
  background-position: right 18px center;
  padding-right: 30px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.sorting-cards:hover {
 border: 2px solid #68A2CA;
}

.sorting-cards:focus {
  outline: none;
  border: 2px solid #68A2CA;
}

 .sorting-cards:disabled {
  border: 2px solid rgba(0, 0, 0, 0.30);
  color: rgba(0, 0, 0, 0.30);
  fill: rgba(0, 0, 0, 0.30);
}

.hotels-cards-list {
  color: #333333;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 340px 20px 340px 20px 340px;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  padding-bottom: 38px;
  margin-bottom: 40px;
  border-bottom: 1px solid #e6e6e6;
}

.hotels-card {
  width: 300px;
  display: -ms-grid;
  display: grid;
  padding: 19px;
  -ms-grid-columns: 140px 20px 140px;
  grid-template-columns: repeat(2, 140px);
  -ms-grid-rows: 212px 16px 1fr;
  grid-template-rows: 212px 1fr;
  gap: 16px 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
}

.button-cards {
  padding: 8px 18px;
}

.card-hotel-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
}

.card-hotel-title:hover {
  color: rgba(0, 0, 0, 0.40);
}

.card-hotel-title:active {
  color:  rgba(0, 0, 0, 0.20);
}

.card-hotel-link-title {
  grid-column: 1/-1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  text-decoration: none;
  align-self: self-start;
}

.hotel-img, .link-img-hotel, .card-hotel-title {
  display: block;
}

.hotel-img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.link-img-hotel {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;

}

.product-card-hotel,
.product-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.product-card-hotel {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}
.product-card-price {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  text-align: end;
}

.card-hotel-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
  padding: 9px 22px;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
}

.star {
  height: 17px;
  width: 105px;
}

.star::before {
  content: '';
  display: block;
  height: 17px;
  background-image: url(../images/icon/icon-star.svg);
  background-repeat: space no-repeat;
  background-size: contain;
  background-position: center;
}

.star-4::before {
  width: 92px;
}

.star-3::before {
  width: 68px;
}

.star-2::before {
  width: 44px;
}

.pagination {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination-link {
  text-decoration: none;
  display: block;
  color: #ffffff;
  background-color: #82B3D3;
  padding: 11px 18px;
  min-width: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}

.pagination-list:not(:last-child) {
  margin-right: 8px;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3)
}

.phone-list {
  margin-right: 0;
}

.pagination-link-one {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-link-one:hover {
  background-color: #f2f2f2;
}

.pagination-link-one:active {
  color: rgba(0, 0, 0, 0.30)
}

.pagination-link-other {
  background-color: transparent;
  color: #000000;
}

.pagination-link-other:hover {
  background-color: transparent;
}

.footer-subcription-title-catalog {
  color: #000000;
}

.footer-subcription-decription {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.footer-subcription-decription-catalog {
  color: #000000;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  background-color: #ffffff;
  border-radius: 30px;
}

.modal-content {
  padding: 64px 70px;
  width: 577px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 65px;
  right: 53px;
  width: 50px;
  height: 50px;
  border: none;
  background-image: url(../images/icon/cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-close-button:focus {
  outline: 3px solid #83B3D3;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.field-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 577px;
  margin: 0;
  margin-bottom: 23px;
}

.input-text-prompting {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  left: 157px;
  color: #333333;
  max-width: 400px;
  margin-top: 4px;
}

.text-prompting-error {
  color: #FF5757;
}

.field {
  padding: 12px 20px;
  font-family: inherit;
  border: none;
  background-color: #f2f2f2;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}

.auth-form-register {
  width: 577px;
}

.auth-form-field {
  background-image: url(../images/icon/calendar.svg);
  background-repeat: no-repeat;
  background-position: right 22px center;
  padding-right: 45px;
  border-radius: 4px;
  width: 375px;
  margin-left: auto;
  outline: none;
}

.auth-form-field:hover {
  background-color: #e6e6e6;
}

.auth-form-field:focus {
  outline: 3px solid #83b3d3;
}

.auth-form-field::-webkit-input-placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.30);
}

.auth-form-field::-moz-placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.30);
}

.auth-form-field:-ms-input-placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.30);
}

.auth-form-field::-ms-input-placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.30);
}

.auth-form-field::placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.30);
}

.field-group-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  max-width: 120px;
}

.container-modal-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}

.modal-counter {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 1fr 40px;
  grid-template-columns: 40px 1fr 40px;
  width: 110px;
  -ms-grid-rows: 48px minmax(44px, auto);
  grid-template-rows: 48px minmax(44px, auto);
  margin-left: 47px;
}

.modal-counter-children {
  margin-left: 84px;
}

.modal-counter:not(:last-child) {
  margin-right: 87px;
}

.button-counter {
  width: 40px;
  height: 48px;
  border: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f2f2f2;
  cursor: pointer;
}

.button-counter:focus {
  outline: 3px solid #82b3d3;
}

.button-minus {
  background-image: url(../images/icon/minus.svg);
  border-radius: 4px 0 0 4px;
}

.button-plus {
  background-image: url(../images/icon/plus.svg);
  border-radius: 0 4px 4px 0;
}

.input-counter {
  width: 30px;
  padding: 14px 0;
  text-align: center;
}

.input-counter[type="number"]::-webkit-outer-spin-button,
.input-counter[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.modal-container-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: auto 0;
  margin-right: 46px;
}

.button-form-modal {
  display: block;
  padding: 18px 256px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: 0;
}

.button-form-modal:hover {
  background-color: #68A2CA;
}

.button-form-modal:active {
  color: rgba(255, 255, 255, 0.3);
}

.tooltip {
  position: absolute;
  margin-left: 12px;
}

.form-label {
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  margin-top: 12px;
  position: relative;
  max-width: 91px;
}

.tooltip-toggle {
  border: none;
  background-image: url(../images/icon/info.svg);
  background-color: #83b3d3;
  background-position: center;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.tooltip-toggle:hover .tooltip-icon {
  color: #AF7842;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text {
  background-color: #242424;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
  width: 213px;
  position: absolute;
  margin-bottom: 6px;
  left: 9px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform:  translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
  display: none;
  top: 40px;
}

.tooltip-text::before {
  content:'';
  background-image: url(../images/icon/triangle.svg);
  width: 19px;
  height: 9px;
  position: absolute;
  left: 7px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -9px;
}
